body {
  font-family: $font_text;
  font-size: 10px;
  color: null;
  font-weight: 400;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 1.5em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}