// Color of theme
$kel_color_1: null;
$kel_color_2: null;

// Font
$font_title: null;
$font_text: null;

// Alerts
$info: #05b4d8;
$succes: #35cd3a;
$warning: #ffa534;
$danger: #f3545d;

// Social Network
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;
$youtube: #ff0000;
$instagram: #e4405f;
$pinterest: #bd081c;